<div class="d-flex justify-content-between m-4">
    <h1>LOGO</h1>
    <ul class=" d-flex gap-5 list-unstyled">
        <li><a class="text-decoration-none" href="/">HOME</a></li>
        <li><a class="text-decoration-none" href="/signup">SIGN UP</a></li>
        <li><a class="text-decoration-none" href="/signin">SIGN IN</a></li>
        <li><a class="text-decoration-none" href="/profile">PROFILES</a></li>
    </ul>
</div>