<%- include("partials/header") %> <%- include("partials/nav") %>
<h1 class="container text-center my-5">Enter Existing E-mail</h1>
<form class="m-auto w-25 p-5 bg-light rounded" action="/forgot" method="post">
  <input
    class="form-control p-2 mb-3"
    type="email"
    name="email"
    placeholder="Enter Ur E-mail"
  />
  <button
    class="px-3 py-2 mt-2 bg-primary text-light rounded text-decoration-none">Enter</button>
</form>

<%- include("partials/footer") %>
