<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="container p-5 mt-5 m-auto  m-5 bg-info text-center rounded ">
    <h1 class="align-middle p-5" >HomePage</h1>
</div>
<%- include("partials/footer") %>
